<div class="card" style="width: 25rem;margin-left:  25rem;">
  <div class="card-header"><h1>New Task</h1></div>
  <div class="card-body"><%= render 'form', task: @task %></div>
  <div class="card-footer"><%= link_to 'Back', tasks_path %> </div>
</div>